@font-face {
    font-family: 'urbanist-bold';
    src: url('../font/Urbanist-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/Urbanist-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/Urbanist-Regular.ttf') format('truetype');
}

:root {
    --primary-color: 226, 92, 39;
    --light-color: 255, 255, 255;
    --dark-color: 48, 48, 48;
    --red-color: 213, 80, 81;
    --yellow-color: 246, 196, 106;
    --blue-color: 84, 125, 226;
    --green-color: 17, 159, 137;

    --urbanist-bold: 'urbanist-bold', Arial, Helvetica, sans-serif;
    --urbanist-semibold: 'urbanist-semibold', Arial, Helvetica, sans-serif;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --urbanist-regular: 'urbanist-regular', Arial, Helvetica, sans-serif;

    --animation-duration: 250ms;
    --border-style: 1px solid rgba(48, 48, 48, 0.12);
    --rounded-xl: 12px;
    --rounded-lg: 10px;
    --rounded-md: 8px;
    --rounded-sm: 6px;
    --rounded-sx: 4px;
}

* {
    transition: var(--animation-duration);
    color: rgba(var(--dark-color), 1);
    font-family: var(--urbanist-medium);
}

button,
input {
    border: none;
    outline: none;
    stroke: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

/* LOGIN PAGE */
.login .banner-login {
    background-image: url('../img/login/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login .content-login {
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.login .login-brand {
    width: 260px;
    margin-bottom: 48px;
}

.login .input-wrapper {
    position: relative;
}

.login .input-wrapper label {
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: 0.813rem;
    font-family: var(--urbanist-regular);
    color: rgba(var(--dark-color), 0.52);
    padding: 0 10px;
    background-color: rgba(var(--light-color), 1);
    z-index: 2;
}

.login .input-wrapper input {
    position: relative;
    padding: 20px;
    border-radius: var(--rounded-md);
    border: var(--border-style);
    outline: none;
    stroke: none;
    color: rgba(var(--dark-color), 1);
    font-size: 0.938rem;
    background-color: rgba(var(--light-color), 1);
    width: 100%;
}

.login .row-button {
    margin-bottom: 24px;
}

.login .button-primary-full {
    padding: 19px;
    border-radius: var(--rounded-md);
    background-color: rgba(var(--primary-color), 1);
    color: rgba(var(--light-color), 1);
    font-size: 0.938rem;
    width: 100%;
    text-align: center;
}

.login .button-primary-full:hover {
    filter: contrast(120%);
}
/* END LOGIN PAGE */


/* SIDEBAR STYLE */
.sidebar {
    position: relative;
    width: 230px;
    border-right: var(--border-style);
    background-color: rgba(var(--light-color), 1);
    min-height: 100vh;
    padding: 0 26px;
}

.sidebar .sidebar-scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    padding: 40px 0;
}

.sidebar .sidebar-scroll::-webkit-scrollbar {
    display: none;
}

.sidebar .sidebar-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar .brand-logo {
    width: 82px;
    margin-bottom: 46px;
}

.sidebar .link-wrapper {
    gap: 6px;
}

.sidebar .menu-link {
    background-color: rgba(var(--light-color), 1);
    border-radius: var(--rounded-md);
    padding: 7px 14px 7px 7px;
    border: var(--border-style);
    border-color: transparent;
}

.sidebar .menu-link.active,
.sidebar .menu-link:hover {
    border: var(--border-style);
    background-color: rgba(var(--dark-color), 0.03);
}

.sidebar .link-item {
    gap: 16px;
    border: none;
    outline: none;
    stroke: none;
    background-color: transparent;
}

.sidebar .icon-sidebar-wrapper {
    padding: 11px;
    background-color: rgba(var(--dark-color), 0.04);
    border-radius: var(--rounded-sm);
}

.sidebar .link-item p {
    color: rgba(var(--dark-color), 0.52);
    font-size: 0.938rem;
}

.sidebar .menu-link.active .link-item p,
.sidebar .menu-link:hover .link-item p {
    color: rgba(var(--dark-color), 1);
}

.sidebar .menu-link.active .icon-sidebar-wrapper,
.sidebar .menu-link:hover .icon-sidebar-wrapper {
    background-color:rgba(var(--primary-color), 1);
}

.sidebar .sidebar-icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .sidebar-icon.dashboard-icon {
    background-image: url('../img/sidebar/dashboard.svg');
}

.sidebar .sidebar-icon.kendaraan-icon {
    background-image: url('../img/sidebar/kendaraan.svg');
}

.sidebar .sidebar-icon.pelanggan-icon {
    background-image: url('../img/sidebar/pelanggan.svg');
}

.sidebar .sidebar-icon.sopir-icon {
    background-image: url('../img/sidebar/sopir.svg');
}

.sidebar .sidebar-icon.pemesanan-icon {
    background-image: url('../img/sidebar/pemesanan.svg');
}

.sidebar .sidebar-icon.pengembalian-icon {
    background-image: url('../img/sidebar/pengembalian.svg');
}

.sidebar .sidebar-icon.servis-icon {
    background-image: url('../img/sidebar/servis.svg');
}

.sidebar .sidebar-icon.pajak-icon {
    background-image: url('../img/sidebar/pajak.svg');
}

.sidebar .sidebar-icon.laporan-icon {
    background-image: url('../img/sidebar/laporan.svg');
}

.sidebar .menu-link.active .sidebar-icon.dashboard-icon,
.sidebar .menu-link:hover .sidebar-icon.dashboard-icon {
    background-image: url('../img/sidebar/dashboard-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.kendaraan-icon,
.sidebar .menu-link:hover .sidebar-icon.kendaraan-icon {
    background-image: url('../img/sidebar/kendaraan-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.pelanggan-icon,
.sidebar .menu-link:hover .sidebar-icon.pelanggan-icon {
    background-image: url('../img/sidebar/pelanggan-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.sopir-icon,
.sidebar .menu-link:hover .sidebar-icon.sopir-icon {
    background-image: url('../img/sidebar/sopir-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.pemesanan-icon,
.sidebar .menu-link:hover .sidebar-icon.pemesanan-icon {
    background-image: url('../img/sidebar/pemesanan-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.pengembalian-icon,
.sidebar .menu-link:hover .sidebar-icon.pengembalian-icon {
    background-image: url('../img/sidebar/pengembalian-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.servis-icon,
.sidebar .menu-link:hover .sidebar-icon.servis-icon {
    background-image: url('../img/sidebar/servis-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.pajak-icon,
.sidebar .menu-link:hover .sidebar-icon.pajak-icon {
    background-image: url('../img/sidebar/pajak-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.laporan-icon,
.sidebar .menu-link:hover .sidebar-icon.laporan-icon {
    background-image: url('../img/sidebar/laporan-active.svg');
}
/* END SIDEBAR STYLE */


/* HAMBURGER STYLE */
.hamburger {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 26px;
    width: 46px;
    height: 46px;
    border-radius: 9999px;
    background-color: rgba(var(--primary-color), 0.12);
    border: 1px solid rgba(var(--primary-color), 1);
}

.hamburger .hamburger-icon {
    width: 16px;
    height: 16px;
    background-image: url('../img/button/hamburger.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* END HAMBURGER STYLE */


/* BREAKPOINT STYLE */
@media (max-width: 991.98px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: -230px;
    }

    .sidebar.active {
        left: 0;
    }
}
/* END BREAKPOINT STYLE */